html {
	font-family: 'Lato', sans-serif;
	font-size: 105%;
	overflow: scroll;
}

.center-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo-face {
	font-family: 'Nova Square', sans-serif;
}

.title-face {
	font-family: 'Zilla Slab Highlight', cursive;
}

.azul-caixa {
	background-color: #0369b9 !important;
}

.azul-caixa-escuro {
	background-color: #025698 !important;
}

.laranja-caixa {
	background-color: #ff7c00 !important;
}

.laranja-caixa-claro {
	background-color: #ff8d22 !important;
}

.texto-laranja-caixa {
	color: #ff7c00;
}

#sidenav-overlay {
	left: 300px;
}

.parallax-container {
	height: 300px;
}

.img-blur {
	filter: blur(2px);
}

.modal-close-button {
	float: right;
}

.material-icons {
	vertical-align: text-bottom;
}

.footer-ul>li>a {
	text-decoration: underline;
}

.card-panel {
	font-size: 95%;
}

.modal-trigger > img {
	max-height: 150px;
}